#root {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 600px) {
  #root {
    max-width: 600px;
  }
}

@media (max-width: 900px) {
  #root {
    max-width: 900px;
  }
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 1rem 0 1.5rem 0;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .controls {
   flex-direction: row;
  }
}
.type-buttons, .reset-buttons {
  display: flex;
  gap: 8px;
}

.snippet-list {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  flex-direction: column;
}

.snippet-list > div {
  max-width: 30ch;          /* ~100 characters wide */
  white-space: nowrap;       /* single line */
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .snippet-list  {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .snippet-list > div  {
    width: 33.33%;
    flex-direction: row;
    max-width: 100ch;
  }
}
.wrap-pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
  margin: 0;
  padding: 0.5em 0.5em;
}

.hl {
  display: inline;
  white-space: inherit;
  word-break: inherit;
  overflow-wrap: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.hl-layered {
  border-color: red!important;
  /* Additional highlight-specific styling can go here */
}