:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;
  color: #0F172A;
  background-color:  #F7F8FB;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
}

header {
  display: block;
}
.app {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .app {
    max-width: 1024px;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

pre {
  word-wrap: break-word;
  white-space:pre-wrap;        /* wrap in pre */
  word-break:break-word;
  overflow-wrap:anywhere;
  text-align: justify;
}
button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2563EB;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: #1D4ED8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 1rem 0 1.5rem 0;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .controls {
   flex-direction: row;
  }
}
.type-buttons, .reset-buttons {
  display: flex;
  gap: 8px;
}

.snippet-list {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  flex-direction: column;
}

.snippet-list > div {
  max-width: 30ch;          /* ~100 characters wide */
  white-space: nowrap;       /* single line */
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .snippet-list  {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .snippet-list > div  {
    width: 33.33%;
    flex-direction: row;
    max-width: 100ch;
  }
}
.wrap-pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
  margin: 0;
  padding: 0.5em 0.5em;
}

.hl {
  display: inline;
  white-space: inherit;
  word-break: inherit;
  overflow-wrap: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.hl-layered {
  border-color: red!important;
  /* Additional highlight-specific styling can go here */
}